.App {
}


.cut-graphic{
  padding: 10px;
  margin: auto;
  display: block;
  height: 95%;
}
.logo img {
  display: inline-block;
  padding: 10px;
  padding-left: 20px;
  height: 6vh;
  /*width: 80px;*/
}
.submit-button {
  float: right;
  height:50px;
}
.App-header {
  background-color: whitesmoke;
  font-size: calc(10px + 2vmin);
  color: white;
  border-bottom: 1px solid rgba(0,0,0,.15);
  box-shadow: 0px 5px 10px 1px whitesmoke;
  display: flex;
  align-items: center;
}
.App-content {
  display: flex;
  height: 90vh;
  align-content: stretch;
}

.cut-view {
  flex-grow: 1;
}

.cut-view canvas {
  height: 85vh;
  padding: 10px;
  margin: auto;
  display: block;
}
.detailBar {
  flex-shrink: 0;
  border-left: 1px solid rgba(0,0,0,.15);
  box-shadow: -5px 0px 10px 1px whitesmoke;
  overflow: auto;
}
.footerBar {
  min-height: 5vh;
  background-color: whitesmoke;
}
.App-link {
  color: #61dafb;
}

.bottom-separator {
  border-bottom: 1px solid rgba(0,0,0,.15);
}
.left-separator {
  border-left: 1px solid rgba(0,0,0,.15);
}

.configuration-view {
  padding: 10px;
  margin: 10px;
}

.configuration-header{
  display: flex;
  padding-bottom: 20px;
}

.App-header .save-and-order-button {
  margin-left: auto;
  margin-right: 16px;
  padding: .75rem 1rem;
}
.App-header .logo {
  display: inline;
}
.configuration-header h2 {
  flex-grow: 1;
}

.add-graphic-detail {
  padding: 10px;
  display: flex;
  align-content: center;
}

.pretty-select {
  display: inline-block;
  /*width: 100%;*/
  height: calc(1.65rem + 2px);
  padding: .375rem 1.75rem .375rem .75rem;
  line-height: 1;
  color: #444;
  /*vertical-align: middle;*/
  background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23373a3c' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
  background-size: auto;
  background-size: 8px 10px;
  border: 1px solid #bbb;
  border-radius: .25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.graphic-dimensions {
  display:flex;
  padding:4px;
}

.graphic-dimension {
  display: inline;
  /*margin-left: 8px;*/
  margin:4px;
}
.fancy-input {
  display: flex;
}
.input-entry {
  width: 40px;
  border-radius: 4px 0 0 4px;
  border: 1px solid #bbb;
  border-right-width: 0;
  display:inline;
}
.input-unit {
  padding: 4px;
  border: 1px solid #bbb;
  border-radius: 0 4px 4px 0;
  background-color: white;
  display: inline;
}
.lock-icon {

}
.delete-icon {

}
