.modal {
    /*display: block; !* Hidden by default *!*/
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    display:flex;
    align-items: center;
}

/* Modal Content/Box */
.modal-dialog {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 16px;
    border: 1px solid #888;
    /*width: 80%; !* Could be more or less, depending on screen size *!*/
}
.modal-content-container {
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.upload-dialog {
    /*width: 400px;*/

    /*height: 400px;*/
}
.upload-graphic-content {
    display:flex;
    flex-direction: column;
    height: 400px;
    width: 400px;
}
.upload-graphic-input-container {
    align-self: center;
    flex-grow: 1;
    display:flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.upload-graphic-content input{
}
.upload-graphic-content button {
    width: 100px;
    align-self: end;
}
.preview-graphic-content {
    display:flex;
    flex-direction: column;
    width: 400px;
}
.preview-graphic-content img {
    flex-grow: 1;
}
.preview-graphic-content button {
    width: 100px;
    align-self: end;
}