.fill {
    height: 100%;
    width: 100%;
}

/* The Close Button */
.textButton {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}

.textButton:hover,
.textButton:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.hidden {
    visibility: hidden;
}
