.graphic-detail {
    display: flex;
    flex-direction: column;
    /*padding: 8px;*/
}
.graphic-detail-header {
    display:flex;
}
.graphic-detail-header button{
    color:whitesmoke;
    background-color: red;
    border-color: red;
    border-radius: 4px;
    transition: color .10s ease-in;
}
.graphic-detail-header button:hover{
    color: white;
}
.graphic-detail-header label {
    flex-grow: 1;
}
.graphic-colors {
    display: flex;
    flex-direction: column;
}

.text-object-item {
    display: flex;
    flex-direction: column;
    padding: 8px;
}
.text-object-properties {
    display: flex;
    flex-direction: row;
}
.text-format-options {
   display: flex;
    padding: 4px;
}
.graphic-color-item {
    flex-grow: 1;
    padding: 8px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.graphic-color-img {
   align-self: center;
}
.graphic-color-img img {
    border: lightgray 1px solid;
    border-radius: 4px;
    min-width: 200px;
    max-height: 1000px !important;
    max-width: 300px !important;
}

.graphic-color-select {
    display: flex;
    align-items: center;
}
.graphic-text-align {
}