.App {
}

.cut-material {
  padding: 10px;
  margin: auto;
  display: block;
  height: 95%;
}
.cut-graphic{
  padding: 10px;
  margin: auto;
  display: block;
  height: 95%;
}
.logo img {
  display: inline-block;
  padding: 10px;
  padding-left: 20px;
  width: 80px;
}
.submit-button {
  float: right;
  height:50px;
}
.App-header {
  background-color: whitesmoke;
  font-size: calc(10px + 2vmin);
  color: white;
  border-bottom: 1px solid rgba(0,0,0,.15);
}
.leftBar {
  display: inline-block;
  width: 3%;
  height: 80vh;
  background-color: gainsboro;
}
.cut-view {
  align-content: center;
  display: inline-block;
  width: 80%;
  height: 80vh;
}
.detailBar {
  float: right;
  width: 19.8%;
  height: 90vh;
  background-color: whitesmoke;
  border-left: 1px solid rgba(0,0,0,.15);
}
.footerBar {
  min-height: 5vh;
  background-color: whitesmoke;
}
.App-link {
  color: #61dafb;
}

.bottom-separator {
  margin: 10px;
  border-bottom: 1px solid rgba(0,0,0,.15);
}

.configuration-view {
  padding: 10px;
}

.configuration-header{
  display: flex;
  padding-bottom: 20px;
}

.configuration-header .save-and-order-button {
  display: inline-block;
  float: right;
}
.configuration-header h2 {
  margin: 0px;
  flex-grow: 1;
}

.graphic-detail {
  display: flex;
}
.graphic-preview {
  margin: 10px;
  width: 35%;
  height: 150px;
}
.graphic-line-color-list {
  padding: 10px;
 flex-grow: 1;
}
.graphic-line-color-item {
 display: flex;
}
.graphic-line-color {
  margin: 4px;
  width: calc(1.65rem + 2px);
  height:calc(1.65rem + 2px);
  background-color: aqua;
  display: inline-block;
}
.graphic-line-color-mode {
    margin: 4px;
}
.add-graphic-detail {
  padding: 10px;
  display: flex;
  align-content: center;
}

.dialog {
  position: absolute;
  top: 35%;
  left: 35%;
  /*border-style: solid;*/
  border-color: lightgray;
  border-radius: 5px;
  box-shadow: 0 0 5px 5px darkgray;
  background-color: white;
}

.hidden {
  visibility: hidden;
}

.pretty-button:hover {
  background-color: rgb(41, 201, 88);
}

.pretty-button:focus {
  /*background-color: #2fea67;*/
}
.pretty-button {
  color: #212529;
  background-color: #24af4d;
  border-color: #24af4d;

  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /*border: 1px solid transparent;*/
  /*border-top-color: transparent;*/
  /*border-right-color: transparent;*/
  /*border-bottom-color: transparent;*/
  /*border-left-color: transparent;*/
  padding: .375rem .75rem;
  font-size: .9rem;
  line-height: 1;
  border-radius: .25rem;
  -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  /*transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;*/
  /*transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;*/
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}
.pretty-select {
  display: inline-block;
  /*width: 100%;*/
  height: calc(1.65rem + 2px);
  padding: .375rem 1.75rem .375rem .75rem;
  line-height: 1;
  color: #444;
  /*vertical-align: middle;*/
  background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23373a3c' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
  background-size: auto;
  background-size: 8px 10px;
  border: 1px solid #bbb;
  border-radius: .25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}